.parent {
    /* border: 1px solid orangered; */
    display: flex;
    justify-content: space-between;
    background-color: #151515;
    color: white;
  }
  .one {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 5%;
    box-sizing: border-box;
    /* border: 1px solid orangered; */
    font-family: "Roboto", serif;
    color: white;
    overflow: hidden;
  }
  .two {
    /* border: 1px solid orangered; */
    width: 35%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    color: white;
  }
  .three {
    /* border: 1px solid orangered; */
    width: 35%;
    height: auto;
    /* padding: 5%; */
    font-family: "Roboto", serif;
    box-sizing: border-box;
  }
  .four {
    /* border: 1px solid orangered; */
    width: 30%;
    padding: 1%;
    height: auto;
    /* padding: 5%; */
    box-sizing: border-box;
    color: white;
  }

  .one div img {
    width: 100px;
    height: 100px;
  }

  /* child2 */
  .two div ul li a {
    font-size: 16px;
    /* color: white; */
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 600;
  }

  .two div ul li a:hover {
    color: gray;
  }

  .two div ul li {
    list-style-type: none;
    /* margin: 20%; */
  }
  /* three child */
  /* .poto img {
    height: 30%;
    width: 30%;
  }
  .three1 {
    width: 100%;
    margin-top: -10%;
    line-height: 5px;
    /* overflow: hidden; */
    /* background-color: orangered; */
  /* } */
  /* .poto span{
    margin-left: 20%;
  } */

  /* .poto div{
    display: flex;
  }
  .poto1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20%;
    /* overflow: auto; */
    /* font-family: "Roboto", serif;
    /* margin-right: 20px; */
    /* background-color: lawngreen; */
  /* } */
  /* .text h6 {
    margin-left: 30%;
    display: inline-block;
    width: auto;
  } */
  /* .text {
    margin-top: -5%; */
    /* background-color: palegreen; */
  /* } */
  /* .three .three1:nth-child(2) { */
    /* margin-top: -20%; */
  /* } */ */ */ */

  /* completed three */
  .poto1{
    /* background-color: #687078; */
    margin-top: 7%;
    box-sizing: border-box;
    height: auto;
  }
  .poto1>div img{
    display: inline-block;
    margin-top: 20%;;
    /* border: 1px solid; */
    width: 15%;
    height: 1%;
  }
  .poto>div img{
    display: inline-block;
   
    width: 15%;
    height: 1%;
  }
.poto1>div:nth-child(1){
  display: flex;
  justify-content: space-between;

}
.poto1 div h4{
  padding: 4%;
  padding-top: 15%;
  /* margin: 5%; */
  box-sizing: border-box;
  height: auto;
  /* color: #737785; */
}
.text div h6{
  text-align: right;
  padding: -5%x;
  color: #737785;
  margin-top: -5%;
}
/*  */
.poto{
  /* background-color: #687078; */
  margin-top: 7%;
  box-sizing: border-box;
}
.poto>div:nth-child(1){
  display: flex;
  justify-content: space-between;

}
.poto div h4{
  padding: 4%;
  padding-right: 15%;
  /* padding-top: 15%; */
  /* margin: 5%; */
  box-sizing: border-box;
 
}

.poto>div img{
  display: inline-block;
 /* padding-bottom: 1; */
  /* border: 1px solid; */
}
  /* four start */
  .four {
    display: grid;
    /* border-top: auto; */
    grid-template-areas:
      "a1 a1 a1"
      "a2 a3 a4"
      "a5 a6 a7"
      "a8 a9  .";
    color: white;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
    padding: 3%;
  }
  .four div:nth-child(1) {
    grid-area: a1;
    /* background-color: red; */
    color: white;
  }
  .four div:nth-child(2) {
    grid-area: a2;
    /* background-color: olive; */
    /* color: white; */
  }
  .four div:nth-child(3) {
    grid-area: a3;
    /* background-color: tan; */
    color: white;
  }
  .four div:nth-child(4) {
    grid-area: a4;
    /* background-color: lawngreen; */
    color: white;
  }
  .four div:nth-child(5) {
    grid-area: a5;
    /* background-color: indianred; */
    color: white;
  }
  .four div:nth-child(6) {
    grid-area: a6;
    /* background-color: antiquewhite; */
    color: white;
  }
  .four div:nth-child(7) {
    grid-area: a7;
    /* background-color: saddlebrown; */
    color: white;
  }
  .four div:nth-child(8) {
    grid-area: a8;
    /* background-color: rebeccapurple; */
  }
  .four div:nth-child(9) {
    grid-area: a9;
    /* background-color: rebeccapurple; */
  }
 
  .four i {
    font-size: 25px;
  }
  /* four end */

  .lastfooter > span {
    margin-left: 4%;
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: 600;
  }
  .lastfooter {
    background-color: #151515;
    color: #737785;
    padding: 3%;
    box-sizing: border-box;
  }
  .three span {
    display: inline-block;
    width: auto;
    margin: auto;
   
  }
  .vsec1 div img {
    width: 20%;
  }
  .vk-s1{
    background-color: black;!important
  }

 #vk-s2{
  background-color:#151515 ;

 }

 
  
  /* ******************************************** */
 
  @media(max-width:800px){
    .vsec1{
      display: flex;
      flex-direction: column;
    }
    .parent {
      /* border: 1px solid orangered; */
      display: flex;
     flex-direction: column;
     margin: auto;
     /* justify-content: center; */
     align-items: center;
    }
    
    .four{
      display: grid;
      gap: 10px;
      margin-left: 10%;
      grid-template-areas: "a1 . . . . . . ."
      " a2 a3 a4 a5 a6 a7 a8 a9";
    }
    .lastfooter span{
      display: inline-block;
    }
    .lastfooter span:nth-child(1){
      margin-left: 10%;
    }
    .lastfooter{
      display: grid;
      /* grid-template-columns: repeat(3,1fr); */
      grid-template-areas: "s1 . ."
      "s2 s3 s4"
      "s5 s6 ";
    }!important

    .lastfooter span:nth-child(1){
      grid-area: s1;
      
    }!important
    .lastfooter span:nth-child(2){
      grid-area: s2;
      
    }!important
    .lastfooter span:nth-child(3){
      grid-area: s3;
      
    }
    .lastfooter span:nth-child(4){
      grid-area: s4;
      
    }!important
    .lastfooter span:nth-child(5){
      grid-area: s5;
      
    }!important
    .lastfooter span:nth-child(6){
      grid-area: s6;
      
    }!important
.vbk-i{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
   
  }
 /* ********************** */
 